.about {
}

.section1 {
  display: flex;
  gap: 20px;
  justify-content: flex-start;

  @media (min-width: 701px) and (max-width: 1120px) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
  }

  /* Mobile */
  @media (max-width: 700px) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
  }
}

.section1 div {
  width: 30%;
  @media (min-width: 701px) and (max-width: 1120px) {
    width: 100%;
  }

  /* Mobile */
  @media (max-width: 700px) {
    width: 100%;
  }
}

.section1 h1 {
  width: 630px;
  z-index: 2;
  position: relative;
  font-size: var(--font-h1);
  left: -100px;

  @media (min-width: 701px) and (max-width: 1120px) {
    left: auto;
  }

  /* Mobile */
  @media (max-width: 700px) {
    width: auto;
    left: auto;
    font-size: var(--font-h1-tablet);
  }
}

.section1 p {
  font-size: var(--font-medium);
  text-align: right;

  /* Mobile */
  @media (max-width: 700px) {
    font-size: var(--font-regular);
    text-align: left;
  }
}

.section1 a {
  background: none;
  border: 3px solid var(--yellow);
  font-size: var(--font-medium);
  padding: 6px 12px;
  color: var(--black);
  text-decoration: none;
}

.imgCampus {
  width: 50%;
  @media (min-width: 701px) and (max-width: 1120px) {
    width: 100%;
  }

  /* Mobile */
  @media (max-width: 700px) {
    width: 100%;
  }
}

.designgoalsContainer {
  display: flex;
  justify-content: center;
}