:root {
  --black: #000;
  --light-gray: #bcbbbb;
  --blue: #003c71;
  --blue-rgb: rgb(0, 60, 113);
  --yellow: #fff400;
  --yellow-rgb: rgb(255, 244, 0);
  --transparent: rgba(0, 0, 0, 0);
  --scrollbar-color: rgba(0, 0, 0, 0.3);
  --white-text: #fff;

  --font-h1: 5em;
  --font-h1-tablet: 3rem;
  --font-h2: 3rem;
  --font-h2-tablet: 2rem;
  --font-medium: 1.5em;
  --font-regular: 1em;
}

body {
  margin: 0;
  width: 100vw;
}