.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.welcome {
  display: flex;

  @media (min-width: 1121px) {
    justify-content: flex-end;
    gap: 20px;
  }

  /* Tablet */
  @media (min-width: 701px) and (max-width: 1120px) {
    flex-direction: column;
  }

  /* Mobile */
  @media (max-width: 700px) {
    justify-content: center;
  }
}

.welcome div {
  width: 30%;

  /* tablet */
  @media (min-width: 701px) and (max-width: 1120px) {
    padding: 0 80px;
  }

  /* Mobile */
  @media (max-width: 700px) {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.welcome h1 {
  width: 630px;
  z-index: 2;
  position: relative;
  font-size: var(--font-h1);

  /* tablet */
  @media (min-width: 701px) and (max-width: 1120px) {
    font-size: var(--font-h1-tablet);
  }
  /* Mobile */
  @media (max-width: 700px) {
    width: auto;
    font-size: var(--font-h1-tablet);
  }
}

.welcome p {
  font-size: var(--font-regular);
  text-align: right;

  /* Mobile */
  @media (max-width: 700px) {
    text-align: left;
    font-size: var(--font-regular);
  }
}

.welcome a {
  background: none;
  border: 3px solid var(--yellow);
  font-size: var(--font-medium);
  padding: 6px 12px;
  color: var(--black);
  text-decoration: none;

  /* Mobile */
  @media (max-width: 700px) {
    flex-direction: column;
    width: 100%;
    text-align: center;
    background: var(--yellow);
  }
}

.imgCampus {
  width: 50%;

  /* tablet */
  @media (min-width: 701px) and (max-width: 1120px) {
    margin-top: 100px;
    width: 100%;
    height: 320px;
  }

  /* Mobile */
  @media (max-width: 700px) {
    display: none;
  }
}

.welcome2 div {
  display: flex;
  width: 100%;

  /* tablet */
  @media (min-width: 701px) and (max-width: 1120px) {
    padding: 0 80px;
  }

  /* Mobile */
  @media (max-width: 700px) {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.imgCampus2 {
  width: 20%;
  height: 15%;

  /* tablet */
  @media (min-width: 701px) and (max-width: 1120px) {
    margin-top: 50px;
    width: 30%;
  }

  /* Mobile */
  @media (max-width: 700px) {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.welcome2 h2 {
  width: 300px;
  position: relative;
  text-align: center;
  font-size: var(--font-h2);

  /* tablet */
  @media (min-width: 701px) and (max-width: 1120px) {
    font-size: var(--font-h2-tablet);
  }
  /* Mobile */
  @media (max-width: 700px) {
    width: auto;
    font-size: var(--font-h2-tablet);
    color: var(--blue);
  }
}

.welcome2 p {
  font-size: var(--font-regular);
  text-align: right;

  /* Mobile */
  @media (max-width: 700px) {
    text-align: center;
    font-size: var(--font-regular);
    color: var(--black);
  }
}

.photo1 {
  width: 6%;
  height: 8%;

  @media (min-width: 701px) and (max-width: 1120px) {
    margin-top: 100px;
    width: 8%;
  }

  @media (max-width: 700px) {
  display: none;
  }
}

